{% include 'pages/navbar.html' %}

<div class="container">
    <h3> {% block title %}Log Out{% endblock %}</h3>

</div>
{% block content %}
    <div class="container-sm mt-3">
        <h1 class="btn btn-warning container" style="width: 270px">مطمعنی که میخوای خارج بشی؟</h1>
        <form action="" method="post">

            {% csrf_token %}

            <input class="btn btn-success container-md" style="width: 200px" type="submit" value="اره مطمعنم">

        </form>
    </div>
{% endblock %}
{% include 'pages/footer.html' %}
{% include 'fotter_references.html' %}