{% include 'pages/navbar.html' %}
{% load crispy_forms_tags %}
<div class="container">
    <h3> {% block title %}فرم ثبت نام{% endblock %}</h3>

</div>

{% block content %}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
                  <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                    <h3>ثبت نام <strong>در ادوکیت</strong></h3>
                                </div>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" value="Sign Up"
                                           class="btn btn-pill text-white btn-block btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



{% endblock %}
{% include 'pages/footer.html' %}
{% include 'fotter_references.html' %}