{% load static %}
{% load i18n %}
{% include 'pages/navbar.html' %}
{% translate 'Home' as x %}
{% include 'pages/header.html' with header_name=x %}
{% block content %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row pt-3 mx-0">
                        <div class="col-3 px-0">
{#                            <div class="bg-success text-center p-4">#}
{#                                <h1 class="text-white" data-toggle="counter-up" >{{ all_students }}</h1>#}
{#                                <h6 class="text-uppercase text-white">All<span class="d-block">Students</span>#}
{#                                </h6>#}
{#                            </div>#}
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-primary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ all_courses.count }}</h1>
                                <h6 class="text-uppercase text-white">{% translate 'All' %}<span class="d-block">{% translate 'Courses' %}</span></h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-secondary text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ all_blogs.count }}</h1>
                                <h6 class="text-uppercase text-white">{% translate 'All' %}<span class="d-block">{% translate 'Blogs' %}</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-3 px-0">
                            <div class="bg-warning text-center p-4">
                                <h1 class="text-white" data-toggle="counter-up">{{ all_teachers.count }}</h1>
                                <h6 class="text-uppercase text-white">{% translate 'All' %}<span class="d-block">{% translate 'Teachers' %}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-image" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 my-5 pt-5 pb-lg-5">
                    <div class="section-title position-relative mb-4">
                        <h1 class="display-4">{% translate 'Where do I start programming?' %}</h1>
                    </div>
                    <p class="mb-4 pb-2">{% translate 'Programming is a new tool to dominate the world of technology. The best way to learn this science from the basics and professionally is to take programming training courses under the supervision of experienced teachers. Kodiad is a team of expert instructors whose goal is to teach zero to hundred programming to those who are interested. In addition, many of the courses available in Kodiad are free and you can go half way without any cost.' %}</p>
                    {#                    <div class="d-flex mb-3">#}
                    {#                        <div class="btn-icon bg-primary mr-4">#}
                    {#                            <i class="fa fa-2x fa-graduation-cap text-white"></i>#}
                    {#                        </div>#}
                    {#                        <div class="mt-n1">#}
                    {#                            <h4>Skilled Instructors</h4>#}
                    {#                            <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no#}
                    {#                                nonumy#}
                    {#                                et eos dolor magna ipsum.</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="d-flex mb-3">#}
                    {#                        <div class="btn-icon bg-secondary mr-4">#}
                    {#                            <i class="fa fa-2x fa-certificate text-white"></i>#}
                    {#                        </div>#}
                    {#                        <div class="mt-n1">#}
                    {#                            <h4>International Certificate</h4>#}
                    {#                            <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no#}
                    {#                                nonumy#}
                    {#                                et eos dolor magna ipsum.</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="d-flex">#}
                    {#                        <div class="btn-icon bg-warning mr-4">#}
                    {#                            <i class="fa fa-2x fa-book-reader text-white"></i>#}
                    {#                        </div>#}
                    {#                        <div class="mt-n1">#}
                    {#                            <h4>Online Classes</h4>#}
                    {#                            <p class="m-0">Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita#}
                    {#                                magna#}
                    {#                                kasd no nonumy et eos dolor magna ipsum.</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}"
                             style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature Start -->


    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h1 class="display-4">{% translate 'Last Courses' %}</h1>
                </div>
            </div>
        </div>
        <div class="owl-carousel courses-carousel">
            {% for recent in recent_course %}
                <div class="courses-item position-relative">
                    <img class="img-fluid" src="{{ recent.image.url }}" alt="">
                    <div class="courses-text">
                        <h4 class="text-center text-white px-3">{{ recent.title }}</h4>
                        <div class="border-top w-100 mt-3">
                            <div class="d-flex justify-content-between p-4">
                                <span class="text-white"><i class="fa fa-user mr-2"></i>{{ recent.author }}</span>
                                <span class="text-white"><small>{% translate 'students' %}({{ recent.student.count }})</small></span>
                            </div>
                        </div>
                        <div class="w-100 bg-white text-center p-4">
                            <a class="btn btn-primary"
                               href="{{ recent.get_absolute_url }}">{% translate 'Course Detail' %}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">30% Off For New Students</h1>
                    <form>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Your Name"
                                           style="padding: 30px 20px;">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Your Email"
                                           style="padding: 30px 20px;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="custom-select bg-light border-0 px-3" style="height: 60px;">
                                        <option selected>Select A courses</option>
                                        <option value="1">courses 1</option>
                                        <option value="2">courses 1</option>
                                        <option value="3">courses 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit" style="height: 60px;">Sign Up
                                    Now
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    <div class="row mx-0 justify-content-center pt-5">
        <div class="col-lg-6">
            <div class="section-title text-center position-relative mb-4">
                <h1 class="display-4">{% translate 'Last Blogs' %}</h1>
            </div>
        </div>
    </div>
    <div class="owl-carousel courses-carousel">
        {% for rec in recent_blog %}
            <div class="courses-item position-relative">
                <img class="img-fluid" src="{{ rec.image.url }}" alt="">
                <div class="courses-text">
                    <h4 class="text-center text-white px-3">{{ rec.title }}</h4>
                    <div class="border-top w-100 mt-3">
                        <div class="d-flex justify-content-between p-4">
                            <span class="text-white"><i class="fa fa-user mr-2"></i>{{ rec.author }}</span>
                        </div>
                    </div>
                    <div class="w-100 bg-white text-center p-4">
                        <a class="btn btn-primary"
                           href="{{ rec.get_absolute_url }}">{% translate 'Blog Detail' %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}

{% include 'pages/footer.html' %}
{% include 'fotter_references.html' %}